<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">edit</h1>
        </div>
      </div>
    </div>
  </div>
<div class="site-section">
    <div class="container" >
      <div class="row">
        <div class="col-lg-7" style="margin-left: 23%;">
          <form #playerForm="ngForm" (ngSubmit)="editPlayer()">
            <div class="form-group">
              <input type="text" [(ngModel)]="player.name" [ngModelOptions]="{standalone:true}"  class="form-control" placeholder="name">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="player.age" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="age">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="player.position"  [ngModelOptions]="{standalone:true}" class="form-control" placeholder="position">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="player.nbr" [ngModelOptions]="{standalone:true}"  class="form-control" placeholder="nbr">
              </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" value="edit">
            </div>
          </form>  
        </div>
       
      </div>
    </div>
  </div>