<div class="col-lg-6">
    <div class="widget-next-match">
      
      <div class="widget-body mb-3">
        <div class="widget-vs">
          <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
            <div class="team-1 text-center">
              <img src="assets/images/logo_1.png" alt="Image">
              <h3>{{obj.name}}</h3>
            </div>
            
            
          </div>
        </div>
      </div>

      <div class="text-center widget-vs-contents wmb-4">
        <h4>{{obj.owner}}</h4>
        <p class="mb-5">
         
          <strong class="text-primary">New Euro Arena</strong>
        </p>

      </div>
    </div>
  </div>