<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white"> search weather</h1>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="margin-left: 23%;">
                <form [formGroup]="weatherForm">
                    <div class="form-group">
                        <input type="text" formControlName="city" class="form-control" placeholder=" city">
                    </div>
                    <div *ngIf="weatherForm.controls['city'].invalid && 
                    (weatherForm.controls['city'].touched || 
                    weatherForm.controls['city'].dirty)">
        
                    <div *ngIf="weatherForm.controls['city'].errors?.['required']" >
                      city is required
                    </div>
                    </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary py-3 px-5" value="search" (click)="search()">
            </div>
            </form>


<div>

    <p>{{apiResult.description}}</p>
    <p>{{apiResult.temp}}</p>
    <p>{{apiResult.pressure}}</p>
    <p>{{apiResult.humidity}}</p>
    <p>{{apiResult.speed}}</p>
</div>

        </div>

    </div>
</div>
</div>