<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">LOGIN</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7" style="margin-left: 23%;">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <input type="email" [(ngModel)]="tab.email" [ngModelOptions]="{standalone:true}" class="form-control"
              placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="tab.pwd" [ngModelOptions]="{standalone:true}" class="form-control"
              placeholder="password">
          </div>


          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary py-3 px-5" value="Login">
          </div>
        </form>
        <span style="color: red;"> {{errorMsg}}</span>
      </div>

    </div>
  </div>
</div>